In [3]:
import pandas as pd

In [13]:
df = pd.read_csv("file2.csv")
print(df)#dataframe
""" can also use to create and read csv
from io import StringIO
csv_data = '''A,B,....'''
df = pf.read_csv(StringIO(csv_data))
"""

      A     B     C     D
0  10.0  20.0  30.0  40.0
1   1.0   2.0   NaN   4.0
2   5.0   6.0   NaN   8.0
3   0.0  11.0  12.0   NaN

" can also use to create and read csv\nfrom io import StringIO\ncsv_data = '''A,B,....'''\ndf = pf.read_csv(StringIO(csv_data))\n"

In [5]:
print(df.head())

      A     B     C     D
0  10.0  20.0  30.0  40.0
1   1.0   2.0   NaN   4.0
2   5.0   6.0   NaN   8.0
3   0.0  11.0  12.0   NaN

In [6]:
print(df.isnull().sum())#missing values

A    0
B    0
C    2
D    1
dtype: int64

In [7]:
print(df.values,"\n\n")#convert df to matrix
print(df.values[1][2])

[[10. 20. 30. 40.]
 [ 1.  2. nan  4.]
 [ 5.  6. nan  8.]
 [ 0. 11. 12. nan]]


nan

In [8]:
df1 = df.dropna()#drop all the rows having NaN value
print(df1)

      A     B     C     D
0  10.0  20.0  30.0  40.0

In [9]:
df2 = df.dropna(axis=1)#drop all the columns having NaN value
print(df2)

      A     B
0  10.0  20.0
1   1.0   2.0
2   5.0   6.0
3   0.0  11.0

In [10]:
df3 = df.dropna(how = "all")#drop rows having all NaN values
print(df3)

      A     B     C     D
0  10.0  20.0  30.0  40.0
1   1.0   2.0   NaN   4.0
2   5.0   6.0   NaN   8.0
3   0.0  11.0  12.0   NaN

In [11]:
print(df.dropna(thresh = 4))#drop rows having less than threshhold non_NaN values

      A     B     C     D
0  10.0  20.0  30.0  40.0

In [12]:
print(df.dropna(subset=["C"]))#to delete rows for particular column NaN

      A     B     C     D
0  10.0  20.0  30.0  40.0
3   0.0  11.0  12.0   NaN