In [2]:
import pandas as pd

In [3]:
data = pd.read_excel("iris.xls", header=None)
# or use read_csc after converting data into csv
data

       0    1    2    3               4
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

In [4]:
data.columns = ["F1","F2","F3","F4","Target"]
data

      F1   F2   F3   F4          Target
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

In [5]:
print(data.dtypes)

F1        float64
F2        float64
F3        float64
F4        float64
Target     object
dtype: object

In [6]:
print(data.shape)

(150, 5)

In [7]:
print(data.ndim)

2

In [8]:
print(data.head())

    F1   F2   F3   F4       Target
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [9]:
print(data.tail())

      F1   F2   F3   F4          Target
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

In [10]:

print(data)

      F1   F2   F3   F4          Target
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

In [11]:
print(data.describe())

               F1          F2          F3          F4
count  150.000000  150.000000  150.000000  150.000000
mean     5.843333    3.054000    3.758667    1.198667
std      0.828066    0.433594    1.764420    0.763161
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.350000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

In [12]:
print(data.isnull().sum())

F1        0
F2        0
F3        0
F4        0
Target    0
dtype: int64

In [13]:
y = data["Target"]
print(y)

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Target, Length: 150, dtype: object

In [14]:
print(y.shape)

(150,)

In [15]:
print(y.describe())

count                150
unique                 3
top       Iris-virginica
freq                  50
Name: Target, dtype: object

In [16]:
print(y.unique())

['Iris-setosa' 'Iris-versicolor' 'Iris-virginica']

In [17]:
print(y.nunique())

3

In [18]:
print(y.value_counts())

Iris-virginica     50
Iris-versicolor    50
Iris-setosa        50
Name: Target, dtype: int64

In [20]:
X = data[["F1","F2","F3","F4"]]
X

      F1   F2   F3   F4
0    5.1  3.5  1.4  0.2
1    4.9  3.0  1.4  0.2
2    4.7  3.2  1.3  0.2
3    4.6  3.1  1.5  0.2
4    5.0  3.6  1.4  0.2
..   ...  ...  ...  ...
145  6.7  3.0  5.2  2.3
146  6.3  2.5  5.0  1.9
147  6.5  3.0  5.2  2.0
148  6.2  3.4  5.4  2.3
149  5.9  3.0  5.1  1.8

[150 rows x 4 columns]

In [21]:
print(X.describe())

               F1          F2          F3          F4
count  150.000000  150.000000  150.000000  150.000000
mean     5.843333    3.054000    3.758667    1.198667
std      0.828066    0.433594    1.764420    0.763161
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.350000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

In [22]:
print(X.isnull().sum())

F1    0
F2    0
F3    0
F4    0
dtype: int64

In [24]:
data1 = data.drop([0,1,5,7,8], axis =0)
print(data1.head(10))

     F1   F2   F3   F4       Target
2   4.7  3.2  1.3  0.2  Iris-setosa
3   4.6  3.1  1.5  0.2  Iris-setosa
4   5.0  3.6  1.4  0.2  Iris-setosa
6   4.6  3.4  1.4  0.3  Iris-setosa
9   4.9  3.1  1.5  0.1  Iris-setosa
10  5.4  3.7  1.5  0.2  Iris-setosa
11  4.8  3.4  1.6  0.2  Iris-setosa
12  4.8  3.0  1.4  0.1  Iris-setosa
13  4.3  3.0  1.1  0.1  Iris-setosa
14  5.8  4.0  1.2  0.2  Iris-setosa

In [28]:
data2 = data.drop(["F1", "F3"], axis =1)
print(data2.head(10))

    F2   F4       Target
0  3.5  0.2  Iris-setosa
1  3.0  0.2  Iris-setosa
2  3.2  0.2  Iris-setosa
3  3.1  0.2  Iris-setosa
4  3.6  0.2  Iris-setosa
5  3.9  0.4  Iris-setosa
6  3.4  0.3  Iris-setosa
7  3.4  0.2  Iris-setosa
8  2.9  0.2  Iris-setosa
9  3.1  0.1  Iris-setosa

In [29]:
print(y.unique())

['Iris-setosa' 'Iris-versicolor' 'Iris-virginica']

In [31]:
dic = {"Iris-setosa":0,
       "Iris-versicolor":1,
       "Iris-virginica":2}

In [34]:
data3 = data.replace(dic)
data3

      F1   F2   F3   F4  Target
0    5.1  3.5  1.4  0.2       0
1    4.9  3.0  1.4  0.2       0
2    4.7  3.2  1.3  0.2       0
3    4.6  3.1  1.5  0.2       0
4    5.0  3.6  1.4  0.2       0
..   ...  ...  ...  ...     ...
145  6.7  3.0  5.2  2.3       2
146  6.3  2.5  5.0  1.9       2
147  6.5  3.0  5.2  2.0       2
148  6.2  3.4  5.4  2.3       2
149  5.9  3.0  5.1  1.8       2

[150 rows x 5 columns]

In [35]:
print(data3["Target"].unique())

[0 1 2]